@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500&family=IBM+Plex+Sans+KR:wght@200;300;400;500&family=Teko:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500&family=Teko:wght@300;400;500;600&display=swap');

:root {
  --light-blue: #12bdfd;

  font-size: 14px;

  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }
}
html,
body {
  box-sizing: border-box;
  color: var(--font-color);
  font-family: 'Barlow', 'Teko', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
