.NavBar {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;

  & .ExploreButton {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &:hover {
      color: var(--light-blue);
    }
    & .Arrow {
      display: flex;
      align-items: flex-end;
    }
  }
  & .NavItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .NavItem {
      margin-right: 10px;
      font-weight: 800;
    }
  }
}
