.Spinner {
  animation: loader 1.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 4px solid var(--blue-dark);
  border-radius: 50%;
  left: 45%;
  opacity: 1;
  position: absolute;
  top: 35%;
}

@keyframes loader {
  0% {
    height: 0;
    left: 45%;
    opacity: 1;
    top: 40%;
    width: 0;
  }

  100% {
    height: 80px;
    opacity: 0;
    width: 80px;
  }
}
