.Button {
  border: none;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
  cursor: pointer;
  padding: 10px;

  &.primary {
    border: 3px solid var(--light-blue);
    border-image: var(--purple-gradient);
  }

  &.secondary {
    background-color: rebeccapurple;
  }

  &.ghost {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
  }

  &.round {
    border-radius: 20px;
  }
  &.hidden {
    visibility: hidden;
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}
