.Typography {
  font-size: 1.4rem;
  font-weight: 500;

  &.bold {
    font-weight: 700;
  }

  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
}
